In [15]:
import numpy as np
import pandas as pd
import scipy.stats
import itertools

In [2]:
data = pd.read_csv('firmness.txt', sep = ",")
#data = data.rename(columns = {"softness(mon)": "mon", "softness(wed)": "wed"})
data

    number   treatment   softness(wed)   softness(mon)
0        1           0             3.0             1.0
1        2           0             4.0             2.0
2        3           3             4.0             1.0
3        4           3             4.0             2.0
4        5           1             4.0             2.0
5        6           2             4.0             1.0
6        7           2             4.0             3.0
7        8           2             5.0             2.0
8        9           3             3.0             2.0
9       10           0             4.0             2.0
10      11           1             4.0             2.0
11      12           1             4.0             3.0

In [3]:
data.insert(4, column = "difference", value = data.iloc[:,2] - data.iloc[:,3])

In [10]:
control = data[data.iloc[:,1] == 0]
group1 = data[data.iloc[:,1] == 1]
group2 = data[data.iloc[:,1] == 2]
group3 = data[data.iloc[:,1] == 3]

In [53]:
def permutation_test(df1, df2):
    ls = [1 for i in range(df1.shape[0])]
    for i in range(df2.shape[0]):
        ls.append(0)
    permutations = list(itertools.permutations(ls))
    T = df2["difference"].mean() - df2["difference"].mean()
    hist = []
    combined_data = pd.concat([df1,df2])
    for perm in permutations:
        group0 = combined_data[np.asarray(perm)==0]
        group1 = combined_data[np.asarray(perm) == 1]
        hist.append(group1["difference"].mean() - group0["difference"].mean())
    return hist, np.mean(hist >= T)

In [64]:
test = permutation_test(group1,group3)